body {
    background-color: antiquewhite;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.calc {
    position: relative;
    margin: 30px auto;
    background-color: rgb(57, 71, 71);
    background-size: cover;
    background-position: center;
    width: 600px;
    height: 1000px;
    border-radius: 20px;
}

.calcDisplay {
    width: auto;
    position: absolute; /* Add position absolute to .calcDisplay */
    top: 70px; /* Adjust top position */
    left: 20px; /* Adjust left position */
    right: 20px; /* Adjust right position */
    height: 140px;
    background-color: whitesmoke;
    border-radius: 10px;
}

.title {
    position: absolute;
    top: 6px;
    left: 20px;
    color: antiquewhite;
}

.buttonGrid {
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(4, 1fr); /* Create 3 equal-width columns */
    grid-gap: 5px; /* Add some spacing between elements */
    position: absolute;
    top: 300px;
    left: 20px;
    right: 20px;
    width: auto;
    height: auto;
    bottom: 150px;
    background-color: rgb(57, 71, 71);
    border-radius: 10px;
}

.buttonElement {
    color: rgb(21, 31, 31);
    font-size: 80px;
    border-radius: 8px;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  .deleteButton {
    border: none;
    position: absolute;
    width: 80px;
    height: 40px;
    left: auto;
    right: 25px;
    top: 235px;
    background-color: rgb(57, 71, 71);
  }

  .material-symbols-outlined {
    transform: scale(1.5);
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24

  }
  
.bigIcon {
    
    transform: scale(2);
}

.homeButton {
    background-color: rgb(250, 235, 215);
    border-radius: 5px;
    border: 2px solid rgb(219, 207, 189);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
}

.homeText {
    margin-left: 5px;
}

.dynamicDisplay {
    position: absolute;
    right: 20px;
    top: 30px;
}

.equals {
    font-size: 80px;
    color: rgb(21, 31, 31);
    position: absolute;
    left: 444px;
    top: 717px;
    width: 136px;
    height: 273px;
    border-radius: 8px;
}
.zero {
    font-size: 80px;
    color: rgb(21, 31, 31);
    position: absolute;
    left: 20px;
    bottom: 10px;
    height: 135px;
    width: 136px;
    border-radius: 8px;
}

.dot {
    font-size: 80px;
    color: rgb(21, 31, 31);
    position: absolute;
    bottom: 10px;
    left: 161px;
    height: 135px;
    width: 278px;
    border-radius: 8px;
}